.math-box-size {
  height: 250px;
}
.math-llave {
  font-size:10em;
}
.math {
  font-size: 1.8em;
}

@media screen and (min-width: 425px) {
  .math-llave {
    font-size:12.5em;
  }
  .math {
    font-size: 2em;
  }
}
@media screen and (min-width: 500px) {
  .math {
    font-size: 2.75em;
  }
}

@media screen and (min-width: 600px) {
  .math-llave {
    font-size: 12em;
  }
  .math {
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) {
  .math-llave {
    font-size: 10em;
  }
}

@media screen and (min-width: 900px) {
  .math-box-size {
    height: 300px;
  }
  .math-llave {
    font-size:12.5em;
    transform: translateY(-40px);
  }
  .math {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 1150px) {
  .math-llave {
    font-size:17em;
  }
  .math {
    font-size: 3em;
  }
}